.card.small #imageDiv {
  width: fit-content;
  max-height: 100% !important;
}

#topTitle {
  z-index: 99;
}

.card-reveal {
  background-color: rgb(233, 242, 243) !important;
}

#kenny,
#cortney {
  min-height: 100%;
  object-fit: cover;
  cursor: pointer;
}

#kenny {
  max-height: 70% !important;
}
.card .card-content {
  padding: 0 !important;
}

@media screen and (max-width: 780px) {
  /* .card.small #imageDiv {
    /* max-width: 100%; 
    object-fit: cover;
    /* height: 350px; 
  }
  .card.small #imageDiv #cortney {
    /* max-width: 100%; 
    object-fit: cover;
    /* height: 350px; 
  } */
  #about {
    min-height: fit-content !important;
    padding-bottom: 5%;
  }
}
