#imageDiv {
  width: 100%;
  max-height: 350px !important;
}
/* .card .card-image #kenny {
  max-height: 380px !important;
} */

#topTitle {
  z-index: 99;
}

.card-reveal {
  background-color: rgb(233, 242, 243) !important;
  /* max-height: 450px !important; */
}

.card.small {
  height: fit-content;
}
.card .card-content {
  padding: 0 !important;
}

/* @media screen and (max-width: 780) {
  img#kenny {
    width: 100%;
    height: 220px !important;
  }
  /* img#cortney {
    width: 100%;
    max-height: 300px;
  } 
  #about {
    height: fit-content !important;
    padding-bottom: 5%;
  }
} */

@media screen and (max-width: 700px) {
  #kenny {
    width: 100%;
    height: 350px;
  }
  #cortney {
    width: 100%;
    height: 350px;
  }
  #about {
    height: fit-content !important;
    padding-bottom: 5%;
  }
}
