.card.small {
  width: fit-content !important;
  cursor: pointer;
  height: auto;
}

#topTitle {
  z-index: 99;
}

.card-reveal {
  background-color: rgb(233, 242, 243) !important;
}

#kenny,
#cortney {
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  height: 300px;
  width: 280px;
  overflow: hidden;

  /* display: inline-block; */
}

#kenny {
  /* margin-right: 5%; */
}
.card .card-content {
  padding: 0 !important;
}

/* @media screen and (max-width: 840) {
  
} */

@media screen and (max-width: 600px) {
  #center {
    margin-left: 10%;
  }
  #kenny,
  #cortney {
    max-width: 100%;
    object-fit: cover;
    width: 300px;
    height: 300px;
  }

  #about {
    min-height: fit-content !important;
    height: auto !important;
    padding-bottom: 5%;
  }
}
