.card {
  margin: 0.5rem 2rem 1rem 2rem;
}
.card-image {
  margin-right: 0;
}

.btn {
  background-color: #214e63;
}

#mHeader {
  font-family: "Julius Sans One", sans-serif;
}

#formStyle {
  font-family: "Julius Sans One", sans-serif;
}

.card.horizontal .card-image img {
  width: 70% !important;
}
h1 {
  font-size: 2.7rem;
}
