/* #contactPage {
  overflow: scroll !important;
} */
#contactLabelRow {
  text-align: center;
}
#header {
  margin-top: 50%;
  text-align: center;
}
#email {
  color: black;
  font-weight: bold;
  text-align: center;
}
#right {
  margin-right: auto;
}
#flowers {
  margin-right: 5%;
}

.btn {
  background-color: #214e63;
}

#agreementRow {
  margin-top: 15%;
}
#contactRow {
  margin-top: 15%;
}
#formStyle {
  /* font-family: "Julius Sans One", sans-serif; */
  font-family: "Syncopate", sans-serif;
}
h1 {
  font-size: 2.7rem;
}
#contactHeaderLine {
  margin-top: 8%;
}

@media screen and (max-width: 600px) {
  #flowers {
    max-width: 100px !important;
    max-height: 150px !important;
  }
  #contract {
    height: 600px;
    width: 100%;
  }

  #contactHeaderLine {
    margin-top: 20%;
  }
}
