#mainCard {
  margin: auto;
  width: 50%;
  /* margin-right: auto; */
}
.card-stacked {
  padding-right: 5%;
}
#contactLabelRow {
  text-align: center;
}
#header {
  margin-top: 10%;
  text-align: center;
}
#email {
  color: #214e63;
  font-size: 24px !important;
  font-weight: bolder;
}
#right {
  margin-right: auto;
}
#flowers {
  margin-right: 5%;
}

.btn {
  background-color: #214e63;
}

#agreementRow {
  margin-top: 15%;
}
#contactRow {
  margin-top: 15%;
}
#formStyle {
  /* font-family: "Julius Sans One", sans-serif; */
  font-family: "Syncopate", sans-serif; /*USE THIS FONT FOR ALL */
}
h1 {
  font-size: 2.7rem;
}
#contactHeaderLine {
  margin-top: 8%;
}

@media screen and (max-width: 600px) {
  #flowers {
    max-width: 100px !important;
    max-height: 150px !important;
  }
  #contract {
    height: 600px;
    width: 100%;
  }

  #contactHeaderLine {
    margin-top: 20%;
  }
  #contactLabelRow a {
    font-size: 16px !important;
  }

  #header {
    margin-top: 10%;
    font-size: 16px;
  }
  #mainCard {
    width: 100%;
    margin-top: 15%;
  }
  .card-stacked {
    min-width: fit-content;
    padding-right: 10%;
  }
  /* .horizontal {
    width: 100% !important;
    height: 50%;
  } */
}
