.carousel a.carousel-item {
  width: 250px !important;
  height: 300px !important;
}
.carousel {
  margin-top: 10%;
}
#sMediaIcons {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-left: 5%;
}
