.carousel .carousel-item {
  width: 300px !important;
  height: 350px !important;
  /* margin-bottom: 0;
  padding-bottom: 5%; */
}
.carousel {
  margin-top: 5%;
  /* margin-bottom: 0; */
}

/* .card {
  z-index: 0;
} */
