.carousel a.carousel-item {
  width: 250px !important;
  height: 300px !important;
}
.carousel {
  margin-top: 20%;
  padding-bottom: 8%;
}
#sMediaIcons {
  position: absolute;
  top: 94%;
  left: 70%;
  cursor: pointer;
}

#fb:hover,
#iGram:hover {
  opacity: 0.7;
}
