.card {
  width: fit-content;
}

#cort {
  max-height: 100%;
  object-fit: cover;
  margin-right: 5%;
  padding: 5%;
  width: 280px;
}
.card-title {
  color: white;
  position: absolute;
  top: 8px;
  left: 16px;
}

#hundred {
  max-height: 100%;
  object-fit: cover;

  margin-right: 5%;
  padding: 5%;
  max-width: 500px !important;
  max-height: 400px !important;
}
