#pics {
  padding: 5px;
  max-width: 250px;
  height: auto;
  width: 100%;
}

#portfolioWidth {
  max-width: 1400px;
  margin-left: 10%;
}

#photographers {
  margin-left: 8%;
  margin-top: 3%;
  padding: 10px;
  box-shadow: 0 4px 6px 0 rgb(62, 111, 76);
}

#Portfolio-Title {
  font-family: 'Syncopate', sans-serif;
  color: white;
  text-shadow: 2px 2px rgb(62, 111, 76);
  font-weight: bolder !important;
}

.card {
  width: fit-content;
}

@media screen and (max-width: 600px) {
  #pics {
    /* margin-top: 45% !important; */
    margin-left: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #photographers {
    margin-top: 45% !important;
    padding: 10px;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1065px) {
  #cort {
    max-height: 100%;
    object-fit: cover;
    margin-right: 3%;
    padding: 10px;
    width: 180px;
    height: 260px;
  }
  #hundred {
    height: 200px;
    width: 300px;
  }
  #portfolioPics.row {
    margin-top: 13%;
    margin-right: 2%;
  }
  .p-card {
    height: unset !important;
  }
  #portfolio-page {
    /* min-height: fit-content !important; */

    padding-bottom: 5%;
    /* height: auto !important; */
    padding-bottom: 5%;
  }
  #loaderRow {
    padding-top: 40%;
  }

  #select img {
    width: 280px;
    height: 400px;
  }
}

@media screen and (min-width: 1400px) {
  #portfolioPics.row {
    margin-left: 5%;
    /* margin-top: 10%; */
  }

  #hundred {
    height: 350px;
    width: 500px;
  }
}

#loaderPage {
  height: 100vh;
}
