#package1 {
  justify-content: left;
}

ul#package1 li {
  list-style-type: circle;
}

#tButton {
  background-color: #214e63;
}

table,
th,
td {
  border: solid black 2px !important;
  text-align: center !important;
}

#card-content {
  margin-left: 5%;
  margin-right: 5%;
}

#contactUs:hover {
  font-weight: bolder;
}

#marginTop {
  margin-top: 5%;
}

/* #center {
  text-align: center;
} */

@media screen and (max-width: 420px) {
  #float {
    float: none;
    padding-top: 5px;
  }
  #modal-content {
    padding: 0 !important;
  }
}
