#weddingsMain .card {
  /* background-image: url("/images/cake.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* width: 100%;
  z-index: -1; */
  box-shadow: 0 4px 6px 0 #214e63;
}

/* #weddingsMain h1 {
  font-family: "Open Sans Condensed", sans-serif;
} */

#relatedEvents .card {
  /* background-image: url("/images/table2.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* width: 100%;
  padding-bottom: 5%;
  z-index: -1; */
  box-shadow: 0 4px 6px 0 #214e63;
}
/* #relatedEvents h1 {
  font-family: "Open Sans Condensed", sans-serif;
} */

#party .card {
  /* background-image: url("/images/desserts.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* width: 100%;
  padding-bottom: 5%;
  z-index: -1; */
  box-shadow: 0 4px 6px 0 #214e63;
}

/* #party h1 {
  font-family: "Open Sans Condensed", sans-serif;
} */

#package1 {
  justify-content: left;
}

#tButton {
  background-color: #214e63;
}

table,
th,
td {
  border: solid black 2px !important;
  text-align: center !important;
  background-color: #cad9e0;
}

#card-content {
  margin-left: 5%;
  margin-right: 5%;
}

#contactUs:hover {
  font-weight: bolder;
}

#contactUs {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
}

#marginTop {
  margin-top: 8%;
}
#headingColorChange {
  color: black;
  /* text-shadow: 2px 2px black; */
  /* font-family: "Syncopate", sans-serif; */
  /* font-weight: bolder; */
}

/* #center {
  text-align: center;
} */

@media screen and (max-width: 420px) {
  #float {
    float: none;
    padding-top: 5px;
  }
  #modal-content {
    padding: 0 !important;
  }

  #weddingsMain,
  #relatedEvents,
  #party {
    min-height: fit-content !important;
    height: 100vh !important;
    padding-bottom: 5%;
    height: auto !important;
    padding-bottom: 5%;
  }
  #marginTop {
    margin-top: 25%;
  }
}
