#weddingsMain .card {
  box-shadow: 0 4px 6px 0 lightgray;
}
#weddingsMain .card h5 {
  font-family: 'Syncopate', sans-serif;
}
#relatedEvents .card h5 {
  font-family: 'Syncopate', sans-serif;
}
#party .card h5 {
  font-family: 'Syncopate', sans-serif;
}
#relatedEvents .card {
  box-shadow: 0 4px 6px 0 lightgray;
}

#party .card {
  box-shadow: 0 4px 6px 0 lightgray;
}

#package1 li {
  list-style-type: circle !important;
}

#package1 {
  justify-content: left;
}

/* #tButton {
  background-color: lightgray;;
} */

/* table,
th,
td {
  border: solid black 2px !important;
  text-align: center !important;
  background-color: #cad9e0;
} */

#card-content {
  margin-left: 5%;
  margin-right: 5%;
}

#contactUs:hover {
  font-weight: bolder;
}

#contactUs {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

#marginTop {
  margin-top: 8%;
}
#headingColorChange {
  color: black;
  font-family: 'Syncopate', sans-serif;
}

@media screen and (max-width: 420px) {
  #float {
    float: none;
    padding-top: 5px;
  }
  #modal-content {
    padding: 0 !important;
  }

  #weddingsMain,
  #relatedEvents,
  #party {
    min-height: fit-content !important;
    height: 100vh !important;
    padding-bottom: 5%;
    height: auto !important;
    padding-bottom: 5%;
  }
  #marginTop {
    margin-top: 25%;
  }
}
