#mainNav {
  background-color: #214e63;
  opacity: 0.7;
  height: 230px;
}
#logo {
  height: 150px;
  width: 150px;
  margin-left: 5%;
}

ul {
  padding-left: 30% !important;
  font-family: "Indie Flower", cursive;
}

.btn-flat {
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
