.nav {
  background-color: white !important;
  /* background-color: #214e63 !important; */
  /* box-shadow: 0 4px 6px 0 #214e63; */
  /* background-color: none !important; */
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  margin-bottom: 5% !important;
}
.nav a {
  color: black;
}
.sidenav-overlay {
  opacity: 0 !important;
  display: none !important;
}
#logo {
  /* border-radius: 50%; */
  width: 18%;
  height: 15%;
  /* padding-top: 15px; */
  /* box-shadow: 0 4px 6px 0 black; */
  /* float: middle; */
}

.sidenav {
  font-family: 'Syncopate', sans-serif;
}
#sideNavClose {
  margin-left: 5%;
  cursor: pointer;
  /* color: #214e63; */
}

#marginBottom {
  margin-bottom: 0;
}

#companyHeader {
  float: left;
  font-size: 3.2rem;
  font-family: 'Syncopate', sans-serif;
  color: lightgrey;
  margin: 25px 0 0 20px;
  text-shadow: 2px 2px rgb(34, 36, 36);
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

ul {
  vertical-align: middle;
  display: inline-block;
}

a.myCustom {
  color: lightgrey;
  font-weight: bolder;
  font-size: 18px;
  opacity: 1;
}

.page-footer {
  background-color: white !important;
  color: black;
  font-family: 'Syncopate', sans-serif;
  margin: auto !important;
  border-top: rgb(62, 111, 76) 0.5px solid;
  font-size: 10px;
}
.page-footer a {
  color: black !important;
}
#logoFooter {
  width: 60%;
}

@media screen and (min-width: 768px) and (max-width: 1065px) {
  #logo {
    /* float: right; */
    margin: 0 62px 10px 10px;
  }
  #companyHeader {
    float: right;
  }
}

@media screen and (max-width: 1000px) {
  #logo {
    /* float: right; */
    margin: 0 0 10px 10px;
  }
  #companyHeader {
    float: right;
  }

  #mainNav {
    padding-top: 0;
  }
}
