#mainNav {
  background-color: #214e63;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}

ul {
  vertical-align: middle;
  display: inline-block;
}

.myCustom {
  color: lightgrey;
  font-weight: bolder;
  font-size: 18px;
  opacity: 1;
}
