#mainNav {
  background-color: #214e63;

  padding-bottom: 50px;
  margin-top: 0;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}

ul {
  vertical-align: middle;
  display: inline-block;
}

a.myCustom {
  color: lightgrey;
  font-weight: bolder;
  font-size: 18px;
  /* opacity: 1; */
}
